@model PayCalculatorLibrary.Models.TemporaryEmployee;

<body class="bg-dark text-light">
    <div class="text-center">
        <h1 class="display-5">Create a new Temporary Employee</h1>
        <p>By filling out this form, you can create a new temporary employee entry.</p>
    </div>
    <form asp-controller="TemporaryEmployee" asp-action="Create" method="post" class="position-absolute top-50 start-50 translate-middle" style="width: 65%">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label" style="margin: 0.5em 0.8em">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control bg-black text-light" id="nameInput" placeholder="Employee name" style="border: 1px solid var(--bs-light-border-subtle); border-radius: 0.8em">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.DayRate" class="form-label" style="margin: 0.5em 0.8em">Day Rate</label>
            <input asp-for="@Model.DayRate" type="number" class="form-control bg-black text-light" id="salaryInput" placeholder="Employee day rate" style="border: 1px solid var(--bs-light-border-subtle); border-radius: 0.8em">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.WeeksWorked" class="form-label" style="margin: 0.5em 0.8em">Weeks Worked</label>
            <input asp-for="@Model.WeeksWorked" type="number" class="form-control bg-black text-light" id="bonusInput" placeholder="Number of weeks worked" style="border: 1px solid var(--bs-light-border-subtle); border-radius: 0.8em">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary display-7">Submit</button>
        </div>
    </form>
</body>