@model PayCalculatorLibrary.Models.TemporaryEmployee;

<body class="bg-dark text-light">
    <div class="text-center">
        <h1 class="display-5">Create a new Temporary Employee</h1>
        <p>By filling out this form, you can create a new temporary employee entry.</p>
    </div>
    <form asp-controller="TemporaryEmployee" asp-action="Create" method="post" class="position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label" style="margin: 0.5em 0.8em">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control bg-black text-light" id="nameInput" placeholder="Employee name">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.DayRate" class="form-label" style="margin: 0.5em 0.8em">Day Rate</label>
            <input asp-for="@Model.DayRate" type="text" class="form-control bg-black text-light" id="salaryInput" placeholder="Employee day rate">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.StartDate" class="form-label" style="margin: 0.5em 0.8em">Start Date</label>
            <input asp-for="@Model.StartDate" type="text" class="form-control bg-black text-light" id="bonusInput" placeholder="Employee start date">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary display-7">Submit</button>
        </div>
    </form>
</body>