@model PayCalculatorLibrary.Models.TemporaryEmployee;

<body class="bg-dark text-light">
    <div class="text-center">
        <h1 class="display-5">Delete Temporary Employee</h1>
        <p>Are you sure that you want to delete @Model.Name?</p>
        <table class="table table-striped bg-light table-hover table-responsive" style="width: 35%; margin: 0 auto">
            <tbody>
                <tr>
                    <td scope="col">ID:</td><td scope="col">@Model.Id</td>
                </tr>
                <tr>
                    <td scope="col">Name:</td><td scope="col">@Model.Name</td>
                </tr>
                <tr>
                    <td scope="col">Day Rate:</td><td scope="col">@Model.DayRate</td>
                </tr>
                <tr>
                    <td scope="col">Weeks Worked:</td><td scope="col">@Model.WeeksWorked</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a class="btn btn-danger" asp-controller="TemporaryEmployee" asp-action="Deletion" asp-route-id="@Model.Id">Yes, I am sure</a>
                </div>
                <div class="col">
                    <a class="btn btn-outline-success" asp-controller="TemporaryEmployee" asp-action="Index" asp-area="">No, take me back</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>