@model PayCalculatorLibrary.Models.PermanentEmployee;

<body class="bg-dark text-light">
    <div class="text-center">
        <h1 class="display-5">Create a new Permanent Employee</h1>
        <p>By filling out this form, you can create a new permanent employee entry.</p>
    </div>
    <form asp-controller="PermanentEmployee" asp-action="Create" method="post" class="position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control form-input bg-black text-light" placeholder="Employee name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Salary" class="form-label">Salary</label>
            <input asp-for="@Model.Salary" type="text" class="form-control form-input bg-black text-light" inputmode="numeric" placeholder="Employee salary">
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Bonus" class="form-label">Bonus</label>
            <input asp-for="@Model.Bonus" type="text" class="form-control form-input bg-black text-light" inputmode="numeric" placeholder="Employee bonus">
            <span asp-validation-for="Bonus" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.HoursWorked" class="form-label">Hours Worked</label>
            <input asp-for="@Model.HoursWorked" type="text" class="form-control form-input bg-black text-light" inputmode="numeric" placeholder="Number of hours worked">
            <span asp-validation-for="HoursWorked" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary display-7">Submit</button>
        </div>
    </form>
</body>